rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{firebaseUid}/config/profile {
    	allow create: if request.auth != null
      allow get, update: if request.auth != null && request.auth.uid == firebaseUid
    }

    match /users/{firebaseUid}/config/categories {
      allow create, get, update: if request.auth != null && request.auth.uid == firebaseUid
    }

    match /users/{firebaseUid}/expenses/{theRest=**} {
      allow create, get, list, update, delete: if request.auth != null && request.auth.uid == firebaseUid
    }

    match /users/{firebaseUid}/incomes/{theRest=**} {
      allow create, get, list, update, delete: if request.auth != null && request.auth.uid == firebaseUid
    }

    match /users/{firebaseUid}/config/figures {
      allow create, get, update: if request.auth != null && request.auth.uid == firebaseUid
    }
  }
}
